# MONGODB_URI=mongodb://localhost:27017/sk-properties
JWT_SECRET=change_this_secret_key_in_production
JWT_REFRESH_SECRET=change_this_refresh_secret_in_production
PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://bhavyagulati651:3rvP8lI0DxKQ0OFz@cluster0.oylmcbe.mongodb.net/sk-properties?retryWrites=true&w=majority&appName=Cluster0
